
.first-section_car-page
{

    height: calc(100vh - var(--nav-height));
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    background: var(--black-background-color);
} 

.second-section_car-page
{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    background: rgb(10,10,50);
    background: linear-gradient(90deg, var(--black-background-color2) 50%, rgba(35,35,35,1) 100%);
} 

.second-section-div_info_car-page
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 5%;
}

.third-section_car-page
{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    background: rgb(35,35,35);
    background: linear-gradient(90deg, rgb(35,35,35) 4%, var(--black-background-color2) 50%);
}

.third-section-div_info_car-page
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 5%;
}

.second-section-div_info_car-page > h2 , .third-section-div_info_car-page > h2 
{
    color: var(--red-parts-color);
}

.second-section-div_info_car-page > p, .third-section-div_info_car-page > p
{
    color: var(--white-bars);
    font-family: 'Quicksand', sans-serif;
}

.second-section-div_info_car-page > h3 , .third-section-div_info_car-page > h3
{
    color: var(--white-bars);
    font-weight: bold;
    margin: 8px;
}

.second-section-div_img_car-page , .third-section-div_img_car-page
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

.second-section-div_img_car-page-1 , .third-section-div_img_car-page-2
{
    box-shadow: 0px 4px 50px #080808;
}

.second-section-div_img_car-page-1 > img
{
    width: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.third-section-div_img_car-page-2 > img
{
    width: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.fourth-section
{
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.car-especific-info
{
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--white-bars);
    gap: 25px;
    z-index: 55;
}

.car-info-item
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
}


@media (max-width:800px)
{
    .second-section_car-page
    {
        flex-direction: column;
        height: 108vh;
    }

    .second-section-div_info_car-page , .third-section-div_info_car-page
    {
        flex-direction: column;
    }

    .third-section_car-page
    {
        flex-direction: column-reverse;
        height: 108vh;
    }

    .second-section-div_info_car-page > h2 , .third-section-div_info_car-page > h2 
    {
        display: block;
        width: 100%;
        text-align: center;
    }

    .second-section-div_info_car-page, .third-section-div_info_car-page
    {
        width: 100%;
    }
}

/*-------------------------------------------------------------------------------------------------------*/

.wrap-corousel-car
{
    width: calc(4/6 * 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.wrap-corousel-car i{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: var(--white-bars);
    transform: translateY(-50%);
    margin: auto 50px;
}

.wrap-corousel-car i:hover
{
    color: var(--red-parts-color);
    transition: .2s;
}

.wrap-corousel-car i:first-child 
{
    left: 0%;
    z-index: 100;
}

.wrap-corousel-car i:last-child 
{ 
    right: 35%;
    z-index: 100;
}

.carousel-car
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-radius: 7px;
    z-index: 75;
}

.carousel-car::-webkit-scrollbar
{
    display: none;
}

.carousel-car:where(.card-car, .img-car)
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-car .img-car
{
    padding: 5%;
    z-index: 60;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-car .img-car img
{
    width: 60%;
    position: relative;
    filter: drop-shadow(10px 5px 15px black);
    user-select: none;
    opacity: .85;
}

.carousel-car.no-transition{
    scroll-behavior: auto;
}

.carousel-car.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel-car.dragging .card-car{
    cursor: grab;
    user-select: none;
}

.carousel-car .card-car{
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
    list-style: none;
    background: transparent;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divisor
{
    display: flex;
    align-items: end;
    position: absolute;
}

@media(max-width: 800px) 
{
    .wrapper-car
    {
        width: 90%;
    }
    .wrap-corousel-car i
    {
        margin: 0;
    }

    .second-section > h2
    {
        margin: 75px;
    }
}

.car-aside
{
    height: 60%;
    width: calc(2/6 * 100%);
    color: var(--red-parts-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    z-index: 200;
    padding-bottom: 5%;
}

.aside-item-container
{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.aside-item
{
    margin:20px;
    color: var(--white-bars);
    font-size: small;
}

.aside-order-button
{
    width: 80%;
    height: 7vh;
    border: none;
    margin: 5px 20px;
    display: inline;
    color: var(--black-background-color2);
    border: 2px solid var(--red-parts-color);
    background-color: var(--red-parts-color);
    padding: 5px;
    border-radius: 3px;
    font-size: larger;
    z-index: 200;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.aside-review-button 
{
    width: 80%;
    height: 7vh;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red-parts-color);
    border: 2px solid var(--red-parts-color);
    background-color: transparent;
    border-radius: 3px;
    font-size: larger;
    z-index: 200;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.aside-order-button:hover, .aside-review-button:hover,.card-car:hover
{
    cursor: pointer;
}

@media (max-width: 800px)
{
    .first-section_car-page
    {
        flex-direction: column
    }
    .wrap-corousel-car
    {
        width: 100%;
    }

    .car-aside
    {
        height: 60%;
        width: 100%;
        color: var(--red-parts-color);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .wrap-corouse-car i:first-child 
    {
        left: 0;
        z-index: 100;
    }

    .wrap-corousel-car i:last-child 
    { 
        right: 0;
        z-index: 100;
    }
}