.modal {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form::backdrop 
{
    background: rgba(5,5,8,0.75);
}

.modal-contenido {
    position: relative;
    font-size: 1rem;
    margin: auto;

    font-weight: bold;
    background-color: var(--black-background-color);
    color: var(--red-parts-color);
    width: 30vw;
    padding: 5vh 5vw;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid var(--red-parts-color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cerrar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    text-align: center;
    font-weight: bold;
}

.cerrar:hover
{
    background-color: var(--red-parts-color);
    color: var(--white-bars);
    border-radius: 2px;
    cursor: pointer;
}

.input {
    display: block;
    width: 100%;
    height: 5vh;
    border-radius: 2px;
    border: none;
    padding: 5px;
    background-color: var(--black-background-color3);
    color: var(--white-bars);
    font-size: 1rem;
    border: 2px solid transparent;
}

.input::placeholder
{
    color: var(--white-bars);
    opacity: .35;
    font-family: sans-serif;
}

.campo 
{
    margin: 20px;
}

#comentarios {
    background-color: var(--black-background-color3);
    color: var(--white-bars);
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid transparent;
}

.campo > textarea
{
    padding: 5px;
    width: 100%;
    height: 25vh;
}

.campo > textarea::placeholder
{
    color: var(--white-bars);
    opacity: .35;
    font-family: sans-serif;
}

.form-buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sumbit-button
{
    width: 12vw;
    height: 7vh;
    border: none;
    margin: 20px;
    display: inline;
    color: var(--white-bars);
    border: 2px solid var(--red-parts-color);
    background-color: var(--red-parts-color);
    padding: 5px;
    border-radius: 5px;
    font-size: large;
}

.sumbit-button:hover {
    color: var(--red-parts-color);
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}

.close-button{
    width: 12vw;
    height: 7vh;
    margin: 20px;
    display: inline;
    color: var(--red-parts-color);
    background-color: transparent;
    border: 2px solid var(--red-parts-color);
    padding: 5px;
    border-radius: 5px;
    font-size: large;
}

.close-button:hover {
    color: var(--red-parts-color);
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}


.check
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: limegreen;
    border-radius: 100%;
    margin: auto;
    animation: 1s ease-in-out checkBackgroundAnimation;
}

.check::before
{
    content: "✓";
    font-weight: bold;
    font-size: 30px;
    color: var(--black-background-color);
    margin: auto auto;
    animation: .5s ease-in-out checkAnimation;
}

@keyframes checkAnimation
{
    0%
    {
        font-size: 2px;
        color: var(--black-background-color);
    }

    50%
    {
        font-size: 35px;
        color: var(--black-background-color);
    }

    75%
    {
        font-size: 30px;
        color: var(--white-bars);
    }

    100%
    {
        font-size: 30px;
        color: var(--black-background-color);
    }
}

@keyframes checkBackgroundAnimation
{
    0%
    {
        background: transparent;
    }
    
    25%
    {
        background: var(--red-parts-color);
    }

    50%
    {
        background: var(--red-parts-color);
    }

    75%
    {
        background: var(--white-bars);
    }

    100%
    {
        background: lime;
    }
}

@media (max-width: 800px) {

    .modal-contenido {

        width: 75vw;
        font-size: larger;
    }

    .input 
    {
        width: 100%;
    }

    .campo > textarea
    {
        width: 100%;
        height: 15vh;
    }

    .form-buttons
    {
        flex-direction: column;
    }

    .sumbit-button
    {
        width: 100%;
        font-size: large;
    }

    .close-button
    {
        width: 100%;
        font-size: large;
    }
}