.second-section
{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i{
    height: 25px;
    width: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    cursor: pointer;
    position:absolute;
    top: 50%;
    font-size: 1.25rem;
    color: #FF0040;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
    left: -52px;
}

.wrapper i:last-child { 
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 15px);
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

     

.card .img img{
    width: 507px ;
    height: 342px ;
    object-fit: cover;
    border-radius: 8%;
    position: relative;
}

.card .img{
    background: #FF0040;
    width: 515px;
    height: 350px;
    border-radius: 8%;
    position: relative;
        
}

.card .img .title{
    font-weight: 500;
    font-size: 1.5rem;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.carousel.no-transition{
    scroll-behavior: auto

}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel .card{
    scroll-snap-align: start ;
    height: 350px;
    width: 515px;
    list-style: none;
    background: #fff;
    border-radius: 8%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.card span{
    color: #FF0040;
    font-size: 0.8rem;
    padding: 0%;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px)
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%
    }
}





/*.wrap-corrousel
{
    width: 75%;
    height: 50%;
    background: salmon;
    margin: 5% auto;
    position: absolute;
}

.wrap-corrousel::before
{
    content: "Carrousel";
}

.divisor
{
    display: flex;
    align-items: end;
}*/
