@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

@import url(main-background.css);
@import url(second-section.css);
@import url(triangle-section.css);
@import url(third-section.css);
@import url(footer.css);
@import url(modal.css);

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Exo', sans-serif;
}

* {
    margin: 0;
    padding: 0;

    cursor: url("../media/logos/cursor4.png"), auto;

    scroll-behavior: smooth;
    --black-background-color:#151515;

    --black-background-color2:#111;
    --black-background-color3:#222;
    --red-parts-color: #FF0040;
    --white-bars: #ddd;
}

body
{
    display: flex;
    flex-direction: column;
}
