@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Righteous&display=swap');

@import url(main-background.css);
@import url(second-section.css);
@import url(triangle-animations.css);
@import url(third-section.css);
@import url(footer.css);
@import url(modals-styles.css);
@import url(car-page-style.css);
@import url(electric-car.css);


:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Exo', sans-serif;
}

* {
    margin: 0;
    padding: 0;

    --nav-height: 35px;
    --nav-height2: 40px;

    cursor: url("../media/logos/cursor5-webp.webp"), auto;

    scroll-behavior: smooth;
    
    --white-bars: #ddd;
    --black-background-color2:#111;
    --black-background-color:#151515;
    --black-background-color3:#222;
    --red-parts-color: #FF0040;

}

body
{
    display: flex;
    flex-direction: column;
}

nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
    background: var(--black-background-color);
    border-bottom: 1px solid var(--white-bars);
}

nav > a
{
    height: calc(1/3 * 100%);
    z-index: 1000;
}

nav > a > img
{
    height: 100%;
}

nav > a > img:hover
{
    opacity: .5;
    cursor: pointer;
}